*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:linear-gradient(135deg,#6a11cb,#2575fc);

height:100vh;

display:flex;

flex-direction:column;

}

.navbar{

background:#5B21B6;

color:white;

padding:18px 60px;

display:flex;

justify-content:space-between;

}

.navbar a{

color:white;

text-decoration:none;

margin-left:20px;

}

.chat-container{

width:450px;

height:650px;

background:white;

margin:auto;

border-radius:20px;

overflow:hidden;

box-shadow:0 15px 35px rgba(0,0,0,.3);

display:flex;

flex-direction:column;

}

.chat-header{

background:#5B21B6;

color:white;

padding:18px;

text-align:center;

font-size:22px;

font-weight:bold;

}

.chat-box{

flex:1;

padding:20px;

overflow-y:auto;

background:#f7f7f7;

}

.bot{

background:#e8e8ff;

padding:12px;

margin:10px 0;

border-radius:10px;

}

.user{

background:#5B21B6;

color:white;

padding:12px;

margin:10px 0;

border-radius:10px;

text-align:right;

}

.input-area{

display:flex;

padding:15px;

background:white;

}

.input-area input{

flex:1;

padding:12px;

font-size:16px;

border:2px solid #5B21B6;

border-radius:10px;

}

.input-area button{

margin-left:10px;

padding:12px 20px;

background:#5B21B6;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}

.input-area button:hover{

background:#FFD700;

color:#5B21B6;

}