*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:linear-gradient(135deg,#6a11cb,#2575fc);

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.receipt{

background:white;

padding:40px;

width:550px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.3);

}

h1{

text-align:center;

color:#5B21B6;

margin-bottom:10px;

}

h2{

text-align:center;

margin-bottom:20px;

color:#555;

}

hr{

margin:20px 0;

}

p{

font-size:18px;

margin:15px 0;

}

.status{

color:green;

font-weight:bold;

}

.buttons{

display:flex;

justify-content:space-between;

margin-top:30px;

}

button,a{

padding:12px 20px;

border:none;

border-radius:10px;

text-decoration:none;

background:#5B21B6;

color:white;

cursor:pointer;

font-size:16px;

}

button:hover,a:hover{

background:#FFD700;

color:#5B21B6;

}